<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Aplicacion Empresarial</span>
    <divc class="collapse navbar-collapse">
      <ul>
        <li class="nav-item">
          <a href="/" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link">Empleados</a>
          <a *ngIf="user.perfil=='empledo'"  (click)="setLink('empleados')" class="nav-link" routerLinkActive="true">Empleados</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link">Juego</a>
          <a *ngIf="user.perfil=='jugador'" (click)="setLink('game')" class="nav-link" routerLinkActive="true">Juego</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
